<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FinTrack</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="<%= typeof page !== 'undefined' ? page : '' %>">
    <%- body  %>
</body>
</html>