<header class="navbar">
  <div class="logo"><a href="/"><img src="/assets/fintrack_logo.png" alt="FinTrack Logo" height="50px"
        width="100px"></a></div>
  <nav>
    <a href="/register" class="btn-primary">Register</a>
  </nav>
</header>

<div class="auth-body">
  <div class="auth-container">
    <h2>Set a New Password</h2>
    <p>Please enter your new password below.</p>
    <% if (typeof error !=='undefined' && error) { %>
    <div class="error-message">
      <%= error %>
    </div>
    <% } %>
    <form action="/reset-password/<%= token %>" method="POST" class="auth-form">
      <input type="password" name="password" placeholder="New Password" required>
      <input type="password" name="confirmPassword" placeholder="Confirm New Password" required>
      <button type="submit" class="btn-primary">Change Password</button>
    </form>
  </div>
</div>